.container {
  max-width: 800px;
  margin-inline: auto;
}

.form {
  display: flex;
  margin-block: 2rem;
  gap: 1rem;
}

.formInput {
  flex: 1;
}

.itemsList {
  display: flex;
  flex-direction: column;
  // should be reset
  padding: 0;
  margin: 0;
}

.itemsListItem {
  // should all be resets
  list-style-type: none;
  padding: 2rem 2rem;
  margin: 0.2rem;
  background: rgba(47, 53, 66, 0.2);

  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
}
